.Aboutus{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
   
}
.aboutus_image img{
    width: 100%;
    max-width: 90%;
    height: 600px;
    border-radius: 0.5rem;
    margin-left: 2rem;
   
}
.about_text span{
    color: var(--color-text);
    font-weight: 500;
  
}
.about_text h2{
    font-size: var(--h2-font);
    font-weight: bold;
    color: white;
}
.about_text p{
    margin: 0.8rem 0 1.8rem;
    color: white;
}