@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --font-family:'Monrope',sans-serif;
    --gradient-text:linear-gradient(89.97deg,#AE67FA 1.84%,#f49867);
    --gradient-bar:linear-gradient(103.22deg,#AE67FA -13.86%,#F4986);

    --color-bg:#040c18;
    --color-footer:#031B34;
    --color-blog:#042c54;
    --color-text:#ffb411;
    --big-font:4rem;
    --h2-font:2.24rem;
    --p-font:0.9rem;
}